#searchWantCar {
    float: left;
    width: 100%;
    height: 160px;
}

#searchWantCar>select {
    float: left;
    width: 180px;
    height: 60px;
    position: relative;
    top: 30px;
    left: 340px;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    box-sizing: border-box;
    border: 1px solid #d8dee8;
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#searchWantCar>select:hover {
    border: 1px solid black;
}

#searchWantCar>button {
    float: left;
    width: 140px;
    height: 60px;
    background-color: #b70f28;
    border: 1px solid #b70f28;
    position: relative;
    top: 30px;
    left: 360px;
    color: white;
    border-radius: 10px;
    font-size: 17px;
}

#searchWantCar>button:hover {
    background-color: rgb(231, 14, 14);
}